<h1 class="section-title">All articles</h1>

<p>
  <%= link_to 'Create New', new_article_path, class: 'btn btn-danger' %>
</p>

<!-- Top Pagination display -->
<%= will_paginate @articles%>
    <!-- Articles list -->
    <%= render 'article_list', articles: @articles %>
<!-- Bottom Pagination display -->
<%= will_paginate @articles%>