<% if obj.errors.any? %>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">
              Form has <%= pluralize(obj.errors.count, 'error') %>:
            </h3>
            <div class="panel-body">
              <ul>
                <% obj.errors.full_messages.each do |msg|  %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
