<div class="text-center">

  <div class="jumbotron">
    <h1>Rails Blog</h1>
    <p>Welcome to the Rails Blog - A sample blog made using Ruby On Rails.</p>
    <%= link_to 'Join here!', "#", class: "btn btn-danger btn-lg" %>

    <%= image_tag("rails_icon.png", :alt => "RailsBlog Image", id: "hero-image") %>
  </div>
</div>

